---
import { Image } from "astro:assets";
import GithubIcon from "../assets/github.svg";
import Logo from "../assets/wobahn.png";
---

<div
  class="flex items-center h-12 md:h-16 px-3 md:px-6 text-black border-b border-black/50 bg-white"
>
  <a href="/" class="mr-5">
    <Image src={Logo} alt="WoBahn Logo" class="w-28 object-contain" />
  </a>

  <div class="w-full space-x-6 child">
    <a href="/about" class="hover:underline">About</a>
  </div>

  <div class="flex items-center gap-3 shrink-0">
    <p class="text-sm opacity-70">v{__APP_VERSION__}</p>
    <a href="https://github.com/vascYT/WoBahn" target="_blank">
      <Image src={GithubIcon} alt="Github icon" class="fill-black" />
    </a>
  </div>
</div>
