---
import "leaflet/dist/leaflet.css";

const { PUBLIC_PLAUSIBLE_URL, PUBLIC_PLAUSIBLE_DOMAIN } = import.meta.env;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {
      PUBLIC_PLAUSIBLE_URL && PUBLIC_PLAUSIBLE_DOMAIN && (
        <script
          defer
          data-domain={PUBLIC_PLAUSIBLE_DOMAIN}
          src={`${PUBLIC_PLAUSIBLE_URL}/js/script.js`}
        />
      )
    }
    <title>WoBahn</title>
  </head>
  <body>
    <slot />
  </body>
</html>
