---
import "../styles/global.css";
import "maplibre-gl/dist/maplibre-gl.css";

const { title } = Astro.props;
---

<script>
  import { init } from "@plausible-analytics/tracker";

  const { PUBLIC_PLAUSIBLE_ENDPOINT, PUBLIC_PLAUSIBLE_DOMAIN } = import.meta
    .env;

  if (PUBLIC_PLAUSIBLE_ENDPOINT && PUBLIC_PLAUSIBLE_DOMAIN) {
    init({
      domain: PUBLIC_PLAUSIBLE_DOMAIN,
      endpoint: PUBLIC_PLAUSIBLE_ENDPOINT,
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <title>
      {title ? `${title} • WoBahn` : "WoBahn"}
    </title>
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
  </body>
</html>
